*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas{
    width: 100vw;
    height: 100vh;
    background-color: #472d3c;
}

#info{
    display: flex;
    justify-content: space-between;
}

.info-item{
    background-color: #cfc6b8;
    padding: 0.5rem;
    width: 5rem;
    flex: 1;
    border: 1px solid black;
}